@(currentUser: User,
  categories: List[Category],
  versionForm: Form[Category])

@import helper._
@import helper.twitterBootstrap._


@* Sets the modal for the page *@
@tags.adminModal("editCategoryModal") {
    @helper.form(routes.Categories.update) {
    <input type="hidden" id="id" name="id" value="1"/>

    <label for="name">Name</label>
    <input type="text" name="name" id="name" style="height: 24px;" value="1"/>
    }
}


@admin.adminTemplate("Categories", currentUser) {

<div class="row">
    <div class="span3">
        <div class="adminBadge">
            <h4>Add new category</h4>
            @helper.form(routes.Categories.addNewCategory) {
                @helper.inputText(versionForm("name"), 'style -> "height: 24px;")

                <button type="submit" class="btn">Add</button>

            }
        </div>
    </div>
    <div class="span8">
        <h4>List of Categories</h4>
        <table class="table table-striped">
            <tbody>
            @for(category <- categories) {
                <tr>
                    <td>
                        <a id="name-@category.id" href="@routes.Categories.categoryDetails(category.name)">@category.name</a>
                    </td>
                    <td>
                        <a href="#" onclick="setModal('editCategoryModal','Edit Category', {id:@category.id, name:$('#name-@category.id').text()}, onSuccess)">Edit</a></li>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        setAdminNavbar("Categories");
    });

    /* Updates the href of the Category when we change the name */
    var onSuccess = function(data, textStatus, jqXHR){
        var anchor = $('#name-' + data['id']);
        var href = anchor.attr('href');
        href = href.substring(0, href.lastIndexOf('/') + 1) + data['name'];
        anchor.attr('href', href);
    }
</script>
}