@(currentUser: User,
  featuredModules: List[FeaturedModule],
  featuredModuleForm: Form[models.FeaturedModule])

@import helper._
@import helper.twitterBootstrap._

@displayFeaturedModule(featuredModule: FeaturedModule) = {
    <div class="span8 well well-small clearfix featuredModule-@featuredModule.id">
        <div class="pull-left"><strong>@featuredModule.playModule.name</strong> (@featuredModule.creationDate.format("dd/MM/yyyy"))</div>
        <div class="pull-right">
                <a href="#" onclick="setModal('editFeaturedModulesModal', 'Edit Featured Module', {id:@featuredModule.id, description: _.string.words($('#description-@featuredModule.id').text()).join(' ') })">Edit</a> |
                <a href="#" onclick="setDeleteModal('deleteFeaturedModulesModal', 'Delete Featured Module', {id: @featuredModule.id, name:'@featuredModule.playModule.name'}, onSuccess)">Delete</a>
        </div>
        <br/>
        <div id="description-@featuredModule.id" class="pull-left">@featuredModule.description</div>
    </div>
}

@* Sets the modal for the page *@
@tags.adminModal("editFeaturedModulesModal") {
    @helper.form(routes.FeaturedModules.update) {
    <input type="hidden" id="id" name="id" value="1"/>
    <input type="hidden" name="sticky" value="false"/>

    <label for="description">Description</label>
    <textarea id="description" name="description" rows="5"></textarea>
    }
}

@tags.adminModal("deleteFeaturedModulesModal") {
    @helper.form(routes.FeaturedModules.delete()) {
    <input type="hidden" id="id" name="id" value="1"/>

    <label for="description">Element to delete:</label>
    <input id="name" name="name" value="1" readonly class="input-xlarge"/>
    }
}


@admin.adminTemplate("Featured modules", currentUser) {

<div class="row">
    <div class="span3">
        <div class="adminBadge">
            <h4>Add new featured module</h4>
            @helper.form(routes.FeaturedModules.addNewFeaturedModule) {
                <input type="hidden" name="sticky" value="false"/>

                @helper.select(featuredModuleForm("playModule.id"), helper.options(Module.options()))
                @helper.textarea(featuredModuleForm("description"))

                <button type="submit" class="btn">Add</button>
            }
        </div>
    </div>
    <div class="span8">
        <h4>List of Featured Modules</h4>
        @for(featuredModule <- featuredModules) {
            @displayFeaturedModule(featuredModule)
        }
    </div>
</div>


<script type="text/javascript">
    $(function(){
        setAdminNavbar("Featured");
    });

    /* Hides the deleted element */
    var onSuccess = function(data, textStatus, jqXHR){
        var div = $('.featuredModule-' + data['id']);
        div.hide();
    }
</script>

}
