@(currentUser: User,
  playOneVersions: List[PlayVersion],
  playTwoVersions: List[PlayVersion],
  versionForm: Form[models.PlayVersion])

@import helper._
@import helper.twitterBootstrap._

@displayVersion(playVersion: PlayVersion) = {
    <tr>
        <td><span id="name-@playVersion.id">@playVersion.name</span></td>
        <td><span id="documentationUrl-@playVersion.id">@playVersion.documentationUrl</span></td>
        <td><a href="javascript:editVersion('@playVersion.id', $('#name-@playVersion.id').text(), $('#documentationUrl-@playVersion.id').text())">Edit</a></td>
    </tr>
}

@admin.adminTemplate("Play versions", currentUser) {


<div class="row">
    <div class="span3">
        <div class="adminBadge">
            <h4>Add new version</h4>
            @helper.form(routes.PlayVersions.addNewPlayVersion) {
                @helper.inputText(versionForm("name"))
                @helper.inputText(versionForm("documentationUrl"))

                <button type="submit" class="btn">Add</button>
            }
        </div>
    </div>
    <div class="span8">
        <h4>Play 1</h4>
        <table class="table table-striped">
            <tbody>
            @for(playVersion <- playOneVersions) {
                @displayVersion(playVersion)
            }
            </tbody>
        </table>

        <h4>Play 2</h4>
        <table class="table table-striped">
            <tbody>
            @for(playVersion <- playTwoVersions) {
                @displayVersion(playVersion)
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        setAdminNavbar("Version");
    });
    var onError = function(form, message) {
        editVersion(form.id, form.name, form.documentationUrl, message);
    };

    function editVersion(id, name, documentationUrl, message) {
        message = (typeof message == 'undefined') ? '' : message;
        var template = _.template($('#editVersionTemplate').html(),
                                  {id:id, name:name, documentationUrl:documentationUrl, message:message});
        editAdminSection(template,
                         function(form, data){},
                         onError);
    }
</script>
<script type="underscore-template" id="editVersionTemplate">
    <form>
        <input type="hidden" name="id" value="<%= id %>"/>
        <input type="hidden" name="targetUrl" value="@routes.PlayVersions.update"/>
        <p><%= message %></p>
        <table class="formTable">
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" name="name" value="<%= name %>"/></td>
            </tr>
            <tr>
                <td><label for="documentationUrl">Documentation URL</label></td>
                <td><input type="text" id="documentationUrl" name="documentationUrl" value="<%= documentationUrl %>"/></td>
            </tr>
        </table>
    </form>
</script>
}
