@(currentUser: User,
  playOneVersions: List[PlayVersion],
  playTwoVersions: List[PlayVersion],
  versionForm: Form[models.PlayVersion])

@import helper._
@import helper.twitterBootstrap._

@displayVersion(playVersion: PlayVersion) = {
    <tr>
        <td><span id="name-@playVersion.id">@playVersion.name</span></td>
        <td><span id="documentationUrl-@playVersion.id">@playVersion.documentationUrl</span></td>
        <td><a href="#" onclick="setModal('editVersionModal', 'Edit Version', {id:'@playVersion.id', name:$('#name-@playVersion.id').text(), documentationUrl:$('#documentationUrl-@playVersion.id').text()});" role="button">Edit</a></td>
    </tr>
}

@* Sets the modal for the page *@
@tags.adminModal("editVersionModal") {
    @helper.form(routes.PlayVersions.update) {
    <input type="hidden" id="id" name="id" value="1"/>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="input-mini" style="height: 24px;" value="1"/>

    <label for="documentationUrl">Documentation URL</label>
    <input type="text" id="documentationUrl" name="documentationUrl" style="height: 24px;" class="input-xxlarge" value="1"/>
    }
}


@admin.adminTemplate("Play versions", currentUser) {


<div class="row">
    <div class="span3">
        <div class="adminBadge">
            <h4>Add new version</h4>
            @helper.form(routes.PlayVersions.addNewPlayVersion) {
                @helper.inputText(versionForm("name"), 'style -> "height: 24px;")
                @helper.inputText(versionForm("documentationUrl"), 'style -> "height: 24px;")

                <button type="submit" class="btn">Add</button>
            }
        </div>
    </div>
    <div class="span8">
        <h4>Play 1</h4>
        <table class="table table-striped">
            <tbody>
            @for(playVersion <- playOneVersions) {
                @displayVersion(playVersion)
            }
            </tbody>
        </table>

        <h4>Play 2</h4>
        <table class="table table-striped">
            <tbody>
            @for(playVersion <- playTwoVersions) {
                @displayVersion(playVersion)
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        setAdminNavbar("Version");
    });
</script>

}
