@(currentUser: User,
  module: Module,
  playVersions: List[PlayVersion],
  versions: Form[models.ModuleVersion])

@import tags._
@import helper._
@implicitField = @{ FieldConstructor(tags.horizontalFormLayout.f) }

@main("Manage " + module.name + " versions", currentUser) {


<header>
    <h1>Manage @module.name versions</h1>
</header>

<div class="row">
    <div class="span12">
		@helper.form(routes.Modules.uploadNewVersion(module.key), 'class->"form-horizontal") {

		@helper.inputText(versions("versionCode"))
		@helper.textarea(versions("releaseNotes"))

        <div class="control-group">
            <label class="control-label">Compatibility</label>
            <div class="controls">
                @for(playVersion <- playVersions) {
                    <input type="checkbox" name="compatibility.id" value="@playVersion.id"/>@playVersion.name &nbsp;&nbsp;
                }
            </div>
        </div>

        @* best way to handle to handle the file upload? *@
        <div class="control-group">
            <div class="controls">
		    	<button type="submit" class="btn">Upload</button>
            </div>
        </div>
		}
    </div>
</div>
}
