@(currentUser: User,
  module: Module,
  playVersions: List[PlayVersion],
  versions: Form[models.ModuleVersion])

@import tags._
@import helper._
@implicitField = @{ FieldConstructor(tags.horizontalFormLayout.f) }

@tags.adminModal("deleteVersionModal") {
    @helper.form(routes.Modules.deleteVersion()) {
        <input type="hidden" id="id" name="id" value="0"/>
        <input type="hidden" id="moduleKey" name="moduleKey" value="0"/>

        <p>Are you sure you want to remove this version?</p>
    }
}


@main("Manage " + module.name + " versions", currentUser) {


<header>
    <h1>Manage @module.name versions</h1>
</header>

<div class="row">
    <div class="span3">
        <div class="adminBadge">
            <h4>Add new version</h4>
            @helper.form(routes.Modules.uploadNewVersion(module.key)) {

                @helper.inputText(versions("versionCode"), 'style -> "height: 24px;")
                @helper.inputText(versions("releaseNotes"), 'maxLength -> 255, 'style -> "height: 24px;")

                <div class="control-group">
                    <label class="control-label"><strong>Compatibility</strong></label>
                    <div class="controls">
                        @for(playVersion <- playVersions) {
                            <label class="checkbox inline">
                                <input type="checkbox" name="compatibility.id" value="@playVersion.id"/>@playVersion.name
                            </label>
                        }
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <a href="@routes.Modules.myModules()" class="btn">Cancel</a>
                        <input id="addVersion" type="submit" disabled="disabled" class="btn btn-success" value="Add"/>
                    </div>
                </div>
                <script>
                    $(function(){
                        var checkSubmit = function() {
                            var n = $( "input:checked" ).length;
                            if(n > 0) {
                                $("#addVersion").removeAttr('disabled');
                            } else {
                                $("#addVersion").attr('disabled', 'disabled');
                            }
                        };
                        $("input[type=checkbox]").on("click", checkSubmit);
                    });
                </script>
            }
        </div>
    </div>
    <div class="span8">
        <table class="table table-striped" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width: 15%">Version</th>
                    <th style="width: 15%">Release date</th>
                    <th style="width: 40%">Release notes link</th>
                    <th style="width: 30%">Compatible with</th>
                </tr>
            </thead>
            <tbody>
                @for(version <- module.getVersions()){
                    <tr class="releaseRow versionItem-@version.id">
                        <td>@(if(version.versionCode == "0") "head" else version.versionCode)</td>
                        <td>@(if(version.releaseDate != null) version.releaseDate.format("dd-MM-yyyy"))</td>
                        <td style="overflow: hidden;">@version.releaseNotes</td>
                        <td>
                            @for(compatible <- version.compatibility) {
                                <span class="lineList">[@compatible.name]&nbsp;</span>
                            }
                        </td>
                        <td>
                            <a href="#" onclick="setDeleteModal('deleteVersionModal', 'Delete', {id: '@version.id', moduleKey:'@module.key'}, onSuccess);" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
        /* Hides the deleted element */
        var onSuccess = function(data, textStatus, jqXHR){
            var tr = $('.versionItem-' + data['id']);
            tr.hide();
        }
</script>
}
