@(currentUser: User, modules: List[Module])
@import views.html.tags.moduleControl

@main("My modules", currentUser) {

<header>
    <h1>My Modules</h1>
</header>


<div class="row">
    <div class="span12">

    @if(modules != null && !modules.isEmpty()) {
        <table class="table table-striped table-hover">
            <tbody>
            @for(module <- modules) {
                @moduleControl(module)
            }
            </tbody>
        </table>
    } else {
        <p>You don't have any modules yet. You can submit a new module
            <a href="@routes.Modules.showModuleRegistrationForm">here</a>.
        </p>
    }

    </div>
</div>

<script type="text/javascript">
    $(function(){
        setNavbar("MyModules");
    });
</script>
}
