@(currentUser: User)

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._

@if(currentUser != null) {
    <li><a href="@routes.Modules.myModules">@currentUser.displayName</a></li>
    <li id="menuMyModules"><a href="@routes.Modules.myModules">My modules</a></li>
    <li id="menuSubmitModules"><a href="@routes.Modules.showModuleRegistrationForm">Submit a new module</a></li>
    @restrict(la(as("admin"))) {
        <li id="menuAdmin"><a href="@routes.PlayVersions.showPlayVersions">Admin</a></li>
    }
    <li><a href="@securesocial.controllers.LoginPage.logout">Log out</a></li>
} else {
    <li><a href="@securesocial.controllers.LoginPage.login">Log in</a></li>
}


