@(currentUser: User)

@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._

@if(currentUser != null) {
    <li id="menuMyAccount" class="menuItem"><a href="@routes.Application.viewAccount(currentUser.userName)">@if(currentUser.avatarUrl != null){<img class="userAvatarSmall" src="@currentUser.avatarUrl"/> }@currentUser.displayName</a></li>
    <li id="menuMyModules" class="menuItem"><a href="@routes.Modules.myModules">My modules</a></li>
    <li id="menuSubmitModules" class="menuItem"><a href="@routes.Modules.showModuleRegistrationForm">Submit a new module</a></li>
    @restrict(la(as("admin"))) {
        <li id="menuAdmin" class="menuItem"><a href="@routes.PlayVersions.showPlayVersions">Admin</a></li>
    }
    <li><a href="@securesocial.controllers.routes.LoginPage.logout">Log out</a></li>
} else {
    <li><a href="@securesocial.controllers.routes.LoginPage.login">Log in</a></li>
}


