@(currentUser: User,
  targetUser: User,
  modules: List[Module])

@import tags._

@main(currentUser.displayName, currentUser) {
<header>
    <h1 class="introduction">@if(targetUser.avatarUrl != null) {<img src="@targetUser.avatarUrl"/>} @targetUser.displayName</h1>
</header>

<div class="row">
    <div class="span4">
        Various details here
    </div>
    <div class="span4">
        <h4>@{targetUser.displayName}'s modules</h4>
        <ul>
        @for(module <- modules) {
        <li><a href="@routes.Modules.details(module.key)">@module.name</a></li>
        }
        </ul>
    </div>
    <div class="span4">
        User's votes, comments, etc, here
    </div>
</div>

<script>
    $(function(){
        setNavbar("Users");
    });
</script>

}