@(currentUser: User,
  mostRecentModules1: List[Module],
  mostRecentModules2: List[Module],
  highestRatedModules: List[Module],
  featuredModules: List[FeaturedModule],
  playVersions: List[PlayVersion],
  moduleCount: Int)

@import tags._

@featureList(title: String, moduleAccessors: List[_ <: ModuleAccessor]) = {
    <h2>@title</h2>
    <table class="table table-striped">
        <tbody>
		@for(accessor <- moduleAccessors) {
			@defining(accessor.getModule()) { module =>
				<tr>
                    <td><a href="@routes.Modules.details(module.key)">@module.name</a></td>
                    <td>@module.summary</td>
                </tr>
			}
		}
        </tbody>
    </table>
}

@main("Home", currentUser) {
<header>
    <h1 class="introduction">Play Modules</h1>
</header>

<div class="landingDetails">
    <h1>@moduleCount Play framework modules for Play 2.x and Play 1.x</h1>
    <div class="subheader">Here you can find great modules contributed by the Play! community.Browse the catalog and add instant power to your application.</div>
</div>

<div class="row">
    <div class="span4">
        <a href='@routes.Modules.getModulesByPlayVersion("2")' class="btn btn-large btn-block">Browse Play 2.x Modules</a>
        <br/>
        <p>Or browse by <a href="">Featured </a>, <a href="@routes.Modules.getLatestModulesByPlayVersion("2")">Latest </a>, <a href="">Highest-rated</a></p>
    </div>
    <div class="span4">
        <a href='@routes.Modules.getModulesByPlayVersion("1")' class="btn btn-large btn-inverse btn-block">Browse Play 1.x Modules</a>
        <br/>
        <p>Or browse by <a href="">Featured </a>, <a href="@routes.Modules.getLatestModulesByPlayVersion("1")">Latest </a>, <a href="">Highest-rated</a></p>
    </div>
    <div class="span4">
        <a href="@securesocial.controllers.routes.LoginPage.login" class="btn btn-large btn-success">Contribute your Modules</a>
        <br/><br/>
        <p>
        New and updated modules will be published to a syndication feed. You can subscribe here:<br/>
        <a href='@routes.Assets.at("feeds/mpo.atom.xml")'><img src="@routes.Assets.at("images/feed-icon-14x14.png")">&nbsp;Atom 1.0</a>,
        <a href='@routes.Assets.at("feeds/mpo.rss1.xml")'><img src="@routes.Assets.at("images/feed-icon-14x14.png")">&nbsp;RSS 1.0</a>,
        <a href='@routes.Assets.at("feeds/mpo.rss2.xml")'><img src="@routes.Assets.at("images/feed-icon-14x14.png")">&nbsp;RSS 2.0</a>
        </p>
    </div>
</div>

<hr/>
<div class="row">
    <div class="span4">
        @featureList("Latest 2.x modules", mostRecentModules2)
    </div>
    <div class="span4">
        @featureList("Featured 2.x modules", featuredModules)
    </div>
    <div class="span4">
        @featureList("Highest-rated 2.x", highestRatedModules)
    </div>
</div>

<div class="row">
    <div class="span4">
        @featureList("Latest 1.x modules", mostRecentModules1)
    </div>
    <div class="span4">
        @featureList("Featured 1.x modules", featuredModules)
    </div>
    <div class="span4">
        @featureList("Highest-rated 1.x", highestRatedModules)
    </div>
</div>


<script>
    $(function(){
        setNavbar("Home");
    });
</script>

}
