@(login: Form[forms.login.Login])

@import helper._
@implicitField = @{ FieldConstructor(tags.horizontalFormLayout.f) }

@main("Log in") {
<header>
    <h1>Sign in</h1>
</header>

<div class="row">
    <div class="span12">
        @helper.form(routes.Application.authenticate, 'class->"form-horizontal") {

        @if(login.hasGlobalErrors) {
            <div class="alert alert-error">
                @login.globalError.message
            </div>
        }

        @helper.inputText(login("userName"))
        @helper.inputPassword(login("password"))

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sign In</button>
            </div>
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="span12">
      <p>Don't have an account? <a href="@routes.Application.register()">Register</a> for one.</p>
    </div>
</div>
}

