@(registration: Form[forms.login.Register])

@import helper._
@implicitField = @{ FieldConstructor(tags.horizontalFormLayout.f) }

@main("Register") {
<header>
    <h1>Register</h1>
</header>

<div class="row">
    <div class="span12">
        @helper.form(routes.Application.createAccount, 'class->"form-horizontal") {

        @if(registration.hasGlobalErrors) {
            <div class="alert alert-error">
                @registration.globalError.message
            </div>
        }
        @helper.inputText(registration("userName"))
        @helper.inputText(registration("displayName"))
        @helper.inputPassword(registration("password"))

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register</button>
            </div>
        </div>
        }
    </div>
</div>
}
